.sale {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__header {

    }

    &__body {

    }

    &__products {

    }

    &__total {
        
    }

    &__promo-example {

    }
}