@import 'scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&display=swap');
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(203, 231, 255);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(140, 140, 255);
  border-radius: 20px;
}
.element-footer{
  list-style-type: none;
  // float: left;
  margin: 0 50px;
  margin-top: 15px;
  // background-color:brown;
  display: inline-block;
}
.main {
  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;

  margin: 0 auto;
}

.footer {
  content: 'footer';
  height: 150px;
  width: 100%;
  // background-color: #61dafb;
}
.footer__container{
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: center;
  // float: left;
  // margin: 0 100px;
  font-size: 30px;
// background-color:antiquewhite;
  width: 100%;
  // margin-top: 25%;
  margin-top: 50px;
  // height: auto;
  // width: 500px;
  // margin: 0 auto;
  // position: relative;
  // display:grid;
  // grid-template-columns: repeat(3,1fr);
  // gap: 20px;
  // padding: 15px;
  // flex-direction:row;
  // justify-content:center;
}
.validation-modal {
  height: 50px;
  width: 700px;
  background-color: bisque;
}

.header {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  &__logo {
    cursor: pointer;
    max-width: 150px;
  }
  
  &__sum {
    
  }
  
  &__value {
    color: #61dafb;
  }
  
  &__basket {
    cursor: pointer;
    position: relative;
    &-count {
      position: absolute;
      top: -10px;
      right: 0;
      text-align: center;
      padding: 5px;
    }
    
    &-image {
      max-width: 40px;
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;

  text-align: center;
  color: red;
  text-transform: uppercase;

  &__name {
    font-size: 60px;  
  }
  
  &__type {
    font-size: 100px;  
  }
}

/*catalog*/

.catalog {
  &__container {

  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  &__item {
    border: 1px solid rgb(212, 235, 255);
    border-radius: 5px;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
  }
}

.product {
  &__header {
    background-color: #61dafb55;
    text-align: center;
  }

  &__body {

  }

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__description {
    background-color: rgba(255, 255, 255, 0.76);
    display: inline-block;
    padding: 5px;
    & p {
      font-size: 14px;
      font-weight: 500;
      color: rgb(89, 0, 255);
    }
    
    & span {
      font-size: 12px;
      font-weight: 400;
      color: rgb(0, 0, 0);
    }
  }
}

/*filter*/

.filter {
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*card*/

.card {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: center;
  }

  &__sliders {
    display: flex;
    flex-direction: row;
    max-height: 400px;
    overflow: hidden;
  }
  &__info {
    width: 100%;
  }
}

.info {
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
}

