@import 'scss-reset/_reset.scss';

.footer {
  content: 'footer';
  height: 100px;
  width: 300px;
  background-color: #61dafb;
}

.validation-modal {
  height: 50px;
  width: 700px;
  background-color: bisque;
}